<body>
  <div class="backgroundimage">
    
    <div class="title1" id="title1" >
    </div>
    <div class="title2" id="title2" >
    </div>
 
</div>

<div class="container">

<div *ngFor="let carte of cartes "class="card" >
  
    <img class="img-thumbnail img-responsive" src="assets/{{carte.image}}" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title">{{carte.title}}</h5>
      <p class="card-text">{{carte.description}}</p>
      <a href="https://{{carte.link}}" class="btn btn-primary" target="_blank">Code Source</a>
    </div>
  </div>
</div>


<div ><app-cv></app-cv></div>
<div ><app-motivation></app-motivation></div>

<app-footer></app-footer>


</body>
