body{
    
    height: 100%;
    background-color:beige;
    width: 100%;
    
   
}
.backgroundimage{

    
    background-color: white;
    width: 100%;
    height: 500px;
}
.backgroundtitle{
 
  
   margin-top:55px;
    font-size: 15vw;
    text-align: center;

    line-height: 60vh;
 
    color: #fcedd8;
    
       font-family: 'Niconne', cursive;
    font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
}


.card{
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.row{
    justify-content: center;
    background-color: beige;
   
}
.pagination{
    
  justify-content: center;
  margin-top: 20px;
}

