<div class="bodymotiv" *ngIf="Motivation">
    <span class="title" ><h1>Motivation</h1> </span><br>
    <img class="motivimg" src="assets/motiv.png">
    <p class="parag">
        Titulaire d’une liscene appliquée en informatique, je suis une
         personne ponctuelle, dynamique actif et j’apprend vite.J’aime 
         travailler en équipe mais travailler seul ne me décourage pas.
         Je suis prêt à 
        apprendre et expérimenter avec des nouvelles technologies et framework.
    </p>

</div>
