.bodymotiv{
    
    

    
    margin-bottom: 50px;
    height: 600px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px  gray;
}

.title h1{
    
    box-shadow: 0 2px 0 0   gray;
    text-align: center ;
    color:rgba(23, 97, 235, 0.767);
}
.motivimg{
    position: relative;
    background-image: url("../../assets/motiv.png");
   margin-left: 30%;
    height: 200px;
   width: 300px;
   
    box-shadow: 0 0 10px 0px  gray;
    
}
p{
    margin-top: 10%;
    text-align: center;
    font-size: 150%;
}