.bodycv{
    
  
    height: 600px;
    width: 100%;
    margin-bottom: 50px;
    background-color:white;
    border-bottom: 2px solid rgba(20, 19, 19, 0.753);
    
}
.title h1{
   text-align: center;
    color:rgba(170, 53, 53, 0.767);
}
p{
    text-align: center;
    font-size: 150%;
}
#button{
   margin-left: 45%;
  
   
}

