.bodycv{
    
  
     margin-bottom: 50px;
    height: 600px;
    width: 100%;
    background-color:white;
    box-shadow: 0 0 3px 0px  gray;
    
}
.title h1{
   text-align: center;
    color:rgba(170, 53, 53, 0.767);
}
p{
    text-align: center;
    font-size: 150%;
}
#button{
   margin-left: 45%;
  
   
}

