
nav{
    
  background-color:rgba(0, 0, 0, 0.548);
    
}
.navbar-brand{
    font-size: 5vh;
}
ul li a {
    font-size: 3vh;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #181616;
}
