<footer class="footer">

    
    <div class="container">
    
      <span clas="text-muted">Fait par Ahmed Meskine avec:  
        
      </span><br>
      <span clas="text-muted">Angular:  
        <img src="assets/angular.png">
      </span>
      <span clas="text-muted">Bootstrap:  
        <img src="assets/boo.png">
      </span>
      <br>
      <span clas="text-muted">HTML:  
        <img src="assets/html.png">
      </span>
      <span clas="text-muted">CSS:  
        <img src="assets/css.png">
      </span>

    </div>
 
  
  </footer>
