.footer{
    justify-content: space-around;
    height: relative;
    background-color: rgb(185, 180, 183);
    border-top: gray solid 1px;
    color: white;
    font-style: bold;
    font-size: 130%;
}
img{
    width: 3%;
    height: 3%;
}